body {background-color: #000; box-sizing: border-box; margin:0; padding: 0; transition: all .1s;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif}

/*// general //////////////////////////////////////////////////////////////////////////// */
div.row{display: flex; flex-direction: row;}
div.row>div{flex:1;}
h2 {margin:0; padding: 5pt;color: #ccc;}

/*// devices //////////////////////////////////////////////////////////////////////////// */

/* light */
div.light{flex: 0 0 8em !important;padding:1em;background-color: #666;color: #000;margin:1pt;width: 8em;height: 8em;cursor: pointer;}
div.light.on{background-color: green;color: #fff}

/* fan */
div.fan {display: flex; flex-direction: row; padding: 0;}
div.fan>div {padding:1em;/* width: 5em; */height: 5em;flex: 1;margin:1pt;background-color: #ccc;cursor: pointer;display: flex;}
div.fan>div:first-child {flex: 0 0 5em !important;color:#fff;}
div.fan>div:first-child.on{background-color: #666; color:#000;}
div.fan>div.on{background-color: green;color: #fff}

/* ac */
div.ac {display: flex;}
div.ac>div{padding:1em;background-color: #ccc;cursor: pointer;margin:1pt;flex:1;height: 5em;}
div.ac>div:first-child {flex: 0 0 5em !important;}

/* wheather */
div.env {flex: 1; display: grid; grid-template-columns: auto auto; grid-template-rows: auto auto; grid-template-areas: "temp temp hum" "temp temp press"}
div.env>div{padding:5pt;background-color: #ccc;margin:1pt;}
div.env .temp {grid-area: temp;font-size: 2em;/* text-align: center; *//* vertical-align: middle; */}
div.env .temp:after {content: "º"}
div.env .hum {grid-area: hum;}
div.env .hum:after {content: "%"}
div.env .press {grid-area: press;}
div.env .press:after {content: "hPa"}
